#!/usr/bin/make -f
# rules
#
# Robert Jordens <rjo@gmx.de>
#
# This software may be used and distributed according to the terms
# of the GNU General Public License, incorporated herein by reference.
#
# $Id: rules 121 2003-09-08 09:27:20Z rj $


include /usr/share/cdbs/1/class/makefile.mk
DEB_UPSTREAM_VERSION := $(shell echo $(DEB_VERSION) | sed 's/-[^-]*//')
# strip of a optionally added cvs patch (format: upstream+cvs-debian)
DEB_UPSTREAM_TARBALL_VERSION := $(shell echo $(DEB_UPSTREAM_VERSION) | sed 's/+[^+]*//')
# tarball has to be first because of #205396
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

pre-build::
	cp -f controller/jamincont_1912.c controller/jamincont_1912.so.c
clean::
	rm -f controller/jamincont_1912.so.c

# after the directories are created but before dh_compress is run.
common-binary-post-install-arch::
	dh_buildinfo

